@{
    ViewData["Title"] = "About";
}
<div class="text-center mt-5 mb-4">
    <img src="~/images/Claude_Monet.jpg" class="img-fluid shadow p-3 m-2 bg-white about-img-p" alt="Claude Monet Painting">
    <h2 class="font-weight-light text-uppercase m-2">What is Art Project?</h2>
    <p class="m-1">
        Art Project is a personal project I developed in my free time. 
        The black and white theme matches perfectly with the content of the website. Just like in the museums, 
        the design looks elegant and simple letting the paint to standing out. It is written in C#, using .NET and Bootstrap.
    </p>
</div>
<hr />
<div class="m-4 d-flex align-items-center text-center">
    <img src="~/images/developer.jpg" class="rounded-circle float-left about-img-dev" alt="Developer Picture">
    <div class="p-4">
        <h2 class="font-weight-light text-uppercase">About the developer</h2>
        <p>
            My name is Eren Radichel. I'm a Junior at BYU-I. I like to work designing and developing websites. 
            I have done other projects on my own as a hobby during my free time because I enjoy it a lot! I don't have any preferred language, I'm flexible, adaptive and I learn fast!
        </p>
        <h6>Learn more about me <a class="text-decoration-none underline" href="https://erendiraradichel.github.io//Resume/Resume/index.html">Link</a></h6>
    </div>
</div>
